.animationItems {
  .itemCard {
    .info {
      flex-grow: 1;
    }

    .preview {
      box-sizing: border-box;
      height: 2.75rem;
      border: solid 1px var(--col-background-tint-2);
      canvas {
        height: 100%;
      }
    }

    button.edit {
      height: 2.75rem;
      aspect-ratio: 1;
    }
  }
}
