#editor {
  --editor-area-width: 100dvw;
  --editor-area-height: calc(100dvh - var(--header-height));
  --editor-grid-side: calc(
    min(var(--editor-area-width), var(--editor-area-height)) - 8dvmin
  );

  display: flex;
  overflow: hidden;
  height: var(--editor-area-height);
  width: var(--editor-area-width);
  justify-content: center;
  align-items: center;

  #editTileGrid {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: var(--editor-grid-side);
    height: var(--editor-grid-side);
    box-shadow:
      0 0 0 1px var(--col-selection),
      2dvmin 2dvmin 0 var(--col-accent);

    .editTile {
      position: relative;

      &::after {
        content: ' ';
        transform: translateZ(0);
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow:
          inset 0 0 0 0.5px var(--col-selection),
          0 0 0 0.5px var(--col-selection);
        opacity: 0.75;
        z-index: 1;
      }

      canvas {
        display: block;
        width: 100%;
        aspect-ratio: 1;
      }
    }
  }
}
