#editor {
  display: flex;
  overflow: hidden;
  height: calc(100% - var(--header-height));
  width: 100%;
  justify-content: center;
  align-items: center;

  #editTileGrid {
    background-color: var(--col-background-tint-2);
    display: grid;
    padding: 1px;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    height: calc(min(100%, 100vw) - 4rem);
    aspect-ratio: 1;
    border-top: none;
    border-left: none;

    .editTile {
      border-bottom: none;
      border-right: none;

      canvas {
        width: 100%;
        aspect-ratio: 1;
      }
    }
  }
}
