#framePicker {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0;
  inset: var(--header-height, 3.5rem) 0 auto 0;
  z-index: 1;
  background-color: var(--col-background-tint-2);
  border-radius: 0 0 var(--interface-radius) var(--interface-radius);
  border: none;
  padding: 0 var(--body-default-margin);

  #frameItems {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: var(--tool-margin) 2px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    transform: scaleY(-1); /* Get scrollbar on top */

    li {
      aspect-ratio: 1;
      display: inline-flex;
      align-items: center;
      transform: scaleY(-1);
      justify-content: center;
      padding: 0.5rem;
      background-color: var(--col-background);
      border-radius: var(--button-radius);
      border: none;
      cursor: pointer;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.325);

      .preview {
        height: 2rem;
        aspect-ratio: 1;
        box-sizing: border-box;
        border: solid 1px var(--col-background-tint-2);
        canvas {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  #frameActions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: 0 0 var(--tool-margin) 0;
    font-size: 1rem;
    align-items: center;

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      font-weight: bolder;
      background-color: var(--col-foreground-tint-1);
      color: var(--col-background-tint-2);
      height: 1.5rem;
      flex: 3;

      &:hover {
        background-color: var(--col-accent);
      }

      &.moveBefore,
      &.moveAfter {
        flex: 1;
        aspect-ratio: 1;
      }
    }
  }
}
