@import url('./vars.css');
@import url('./base.css');
@import url('./icon.css');
@import url('./header.css');
@import url('./menu.css');
@import url('./frames.css');
@import url('./tools.css');
@import url('./palette.css');
@import url('./editor.css');
@import url('./view.css');
@import url('./animation.css');
/* Preload these inside <head> in index.html */
