@import url('./vars.css');

#menu {
  position: fixed;
  top: 0;
  left: 0;

  button {
    width: 2rem;
    height: 2rem;
    margin: calc((var(--header-height) - 2rem) / 2);
    font-size: 0;
    background: var(--col-background-tint-1) no-repeat center / 1rem
      url('../img/menu8x8.png');
    border-radius: var(--button-radius);
    cursor: pointer;
  }

  &.active {
    button {
      background-color: var(--col-highlight);
    }

    #menuItems {
      display: block;
    }
  }

  #menuItems {
    display: none;
    overflow: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--col-background);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: var(--button-radius);
    border: none;

    li {
      padding: 0.5rem;
      i.icon {
        margin-right: 1em;
      }
      &:hover {
        background-color: var(--col-highlight);
        cursor: pointer;
      }
    }
  }
}

#animations {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  &.active {
    #animationSelect {
      display: none;
    }

    #animationItems,
    #addAnimation {
      display: block;
    }
  }

  #animationSelect {
    position: absolute;
    height: 2rem;
    min-width: 50vh;
    transform: translateX(calc(-50% + 1rem)) rotate(-90deg);
  }

  #addAnimation {
    display: none;
  }

  #animationItems {
    display: none;
    overflow: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--col-background);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: var(--button-radius);
    border: none;

    li {
      padding: 0.5rem;
      i.icon {
        margin-right: 1em;
      }
      &:hover {
        background-color: var(--col-highlight);
        cursor: pointer;
      }
    }
  }
}
