#palette {
  position: fixed;
  background-color: var(--col-background-tint-2);
  border-radius: var(--interface-radius) var(--interface-radius) 0 0;
  border: none;
  padding-inline: var(--body-default-margin)
    calc(var(--body-default-margin) + 3.25rem);
  padding-bottom: env(safe-area-inset-bottom);
  inset: auto 0 0 0;

  #paletteColors {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-inline: 2px;
    padding-block: var(--tool-margin);
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-gutter: stable;

    &::before {
      /* Match height of li, so bar doesn't pop in */
      content: ' ';
      display: block;
      padding: 0.5rem 0;
      margin: 0 -0.5rem 0 0;
      height: 1.5rem;
    }

    li {
      padding: 0.5rem;
      margin: 0;
      height: 1.5rem;
      aspect-ratio: 1;
      background-color: var(--col-background);
      border-radius: var(--button-radius);
      border: none;
      cursor: pointer;
      &:not(.selected) {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.325);
      }
    }
  }
}
