#palette {
  #paletteColors {
    display: flex;
    flex-direction: row;
    padding-inline: 2px;
    padding-block: var(--tool-margin);
    margin-bottom: 2px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-gutter: stable;

    &::before {
      /* Match height of li, so bar doesn't pop in */
      content: ' ';
      display: block;
      margin-left: 2px;
      height: 1.5rem;
    }

    li {
      margin: 0;
      height: 1.5rem;
      aspect-ratio: 3/2;
      background-color: var(--col-background);
      border: none;
      cursor: pointer;
      &:not(.selected) {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.325);
      }
      &::before {
        border-radius: 0.35rem;
        z-index: 1;
      }
    }
  }
}
