#toolbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--col-background-tint-2);
  border-radius: var(--interface-radius) var(--interface-radius) 0 0;
  border: none;
  padding-inline: var(--body-default-margin);
  padding-bottom: calc(var(--tool-margin) + env(safe-area-inset-bottom));
  inset: auto 0 0 0;
}

#tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;

  button {
    position: relative;
    padding: 0.5rem;
    background-color: var(--col-background);
    border-radius: var(--button-radius);
    border: none;
    cursor: pointer;

    /* Animation */
    /* transition: margin var(--interface-duration);
    transition-timing-function: var(--anim-bounce);
    pointer-events: none;
    margin-bottom: -3rem;
    visibility: hidden; */

    &.transparent {
      background-color: transparent;
    }

    &:hover {
      background-color: var(--col-highlight);
    }

    &.inactive {
      pointer-events: none;
    }

    i.icon {
      margin: 0;
      height: 1.5rem;
      aspect-ratio: 1;
    }
  }
}
