#tools {
  position: fixed;
  border-radius: var(--interface-radius) var(--interface-radius) 0 0;
  background-color: var(--col-background-tint-2);
  padding: var(--tool-margin);
  inset: auto 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: border-radius var(--tool-duration);

  &.open {
    border-radius: var(--interface-radius) 0 0 0;
  }

  button {
    position: relative;
    padding: 0.5rem;
    background-color: var(--col-background);
    border-radius: var(--button-radius);
    border: none;
    cursor: pointer;

    /* Animation */
    transition: margin var(--tool-duration);
    pointer-events: none;
    margin-bottom: -3rem;
    visibility: hidden;

    &.transparent {
      background-color: transparent;
    }

    &.active,
    .open & {
      pointer-events: all;
      margin-bottom: 0;
      visibility: visible;
    }

    &:hover {
      background-color: var(--col-highlight);
    }

    i.icon {
      margin: 0;
      height: 1.5rem;
      aspect-ratio: 1;
    }
  }
}
